body {
  margin: 0;
  color: #6a6f8c;
  background: url(./Images/back.jpg) no-repeat;
  background-size: cover;

  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}